* {
    margin: 0;
    padding: 0;
    font-family: liberation-serif, serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 4% 6%;
    justify-content: space-between;
}

.nav-links {
    text-align: center;
    width: 100%;
    padding: 1%;
    background-color: #0e8042;
    border-radius: 30px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0 100px;
    position: relative;
}

.nav-links ul li a {
    color: #0a2b17;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
    background-color: #0e8042;
    padding: 10px 20px;
    border-radius: 30px;
}

.nav-links ul li a:hover {
    background-color: #0a2b17;
    color: #0e8042;
    cursor: pointer;
    font-weight: 700;
    border-radius: 30px;
    padding: 8px 30px;
    transition: 0.3s;
}

.text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 30px;
    color: #0e8042;
    font-family: tenez, sans-serif;
    line-height: 1.0;
    font-weight: 900;
    font-style: normal;
}

.text-box p {
    font-size: 18px;
    color: #2c5b41;
    font-weight: 100;
    line-height: 1.0;
}

/**/

.text-box9 {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    text-align: center;
}

.text-box9 h1 {
    font-size: 30px;
    color: #0e8042;
    font-family: tenez, sans-serif;
    line-height: 1.0;
    font-weight: 900;
    font-style: normal;
}

.text-box9 p {
    font-size: 18px;
    color: #2c5b41;
    font-weight: 100;
    line-height: 1.0;
}

.header2 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box2 {
    width: 33%;
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-25%, -50%);
    text-align: justify;
}

.text-box2 h1 {
    font-size: 30px;
    color: #1a3826;
    font-family: tenez, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.text-box2 p {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}

/**/

.text-box5 {
    width: 33%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-25%, -35%);
    text-align: justify;
}

.text-box5 h1 {
    font-size: 30px;
    color: #1a3826;
    font-family: tenez, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.text-box5 p {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}

/**/

.text-box6 {
    width: 33%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-25%, -20%);
    text-align: justify;
}

.text-box6 h1 {
    font-size: 30px;
    color: #1a3826;
    font-family: tenez, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.text-box6 p {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}

/**/

.text-box7 {
    width: 33%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-30%, -40%);
    text-align: justify;
}

.text-box7 h1 {
    font-size: 30px;
    color: #1a3826;
    font-family: tenez, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.text-box7 p {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}

/**/

.text-box8 {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-30%, -35%);
    text-align: justify;
}

.text-box8 h1 {
    font-size: 30px;
    color: #1a3826;
    font-family: tenez, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.text-box8 p {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}

.hero-btn {
    display: inline-block;
    position: absolute;
    right: -20px;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    background: #1a3826;
    padding: 10px 30px;
    cursor: pointer;
    margin: 0 20px;
    transition: 0.2s;
    align-items: right;
}

.hero-btn:hover {
    background: #fff;
    transition: 0.4s;
    color: #0e8042;
}

.header3 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header4 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background4.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: #fff;
    background-color: #3d1947;
    font-size: 12px
}

.text-box3 {
    color: #fff;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.text-box3 h1 {
    font-size: 24px;
    color: #fff;
    font-family: tenez, sans-serif;
    line-height: 1.0;
    font-weight: 900;
    font-style: normal;
}

.text-box3 p {
    font-size: 14px;
    color: #fff;
    font-weight: 100;
    line-height: 1.0;
}

.header5 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header6 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background6.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header7 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background7.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header8 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background8.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header82 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background82.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header9 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background9.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header92 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background92.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header10 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background10.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header102 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background102.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header11 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background11.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header112 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background112.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.header12 {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/Background12.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.row {
    padding: 5% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(100px, auto);
    row-gap: 50px;
    grid-gap: -100px;
    justify-content:space-between;
    justify-items: center;
}

.course-col {
    flex-basis: 31%;
    width: 55%;
    background: #0a2b17;
    border-radius: 90px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
}

.course-col img {
    transform: scale(0.65);
}

.course-col2 img {
    transform: scale(0.65);
}

.course-col2 {
    flex-basis: 31%;
    width: 55%;
    background: #0e8042;
    border-radius: 90px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
}

.row3 {
    padding-left: 20%;
}

.course-col:hover {
    box-shadow: 0 0 20px rgba(15, 39, 59, 0.5);
    transform: scale(1.07);
    transition: 0.3s;
}

.course-col2:hover {
    box-shadow: 0 0 20px rgba(15, 39, 59, 0.5);
    transform: scale(1.07);
    transition: 0.3s;
}

.course-col p {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
}

.text-box4 {
    margin: 80px;
    padding-bottom: 30px;
    padding-left: 160px;
}

.text-box4 p {
    text-align: justify;
}

.text-box4 h3 {
    font-size: 14px;
    color: #fff;
    font-family: tenez, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.text-box4 h5 {
    font-size: 12px;
    color: #fff;
    font-family: tenez, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.text-box5 h5 {
    font-size: 12px;
    color: #fff;
    font-family: tenez, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.text-box4 h2, h5 {
    display:inline-block;
}

.text-box4 h5{
    padding-left: 5px;
}

.text-box4 h1 {
    font-size: 30px;
    color: #0e8042;
    font-family: tenez, sans-serif;
    font-weight: 900;
    font-style: italic;
}

.course-col3 {
    background: #0a2b17;
    border-radius: 90px;
    width: 800px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.course-col3 img{
    transform: scale(0.3) translate(-170%, -105%);
    align-content: left;
    position: absolute;
}

.course-col3{
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
}

.hero-btn2 {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    background: #0e8042;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.2s;

}

.hero-btn2:hover {
    background: #fff;
    transition: 0.4s;
    color: #0e8042;
}

.hero-btn3 {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
    background: #0e8042;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 10px;
}

.hero-btn3:hover {
    background: #fff;
    transition: 0.4s;
    color: #0e8042;
}

.text-box4 h2 {
    font-size: 18px;
    color: #0e8042;
    font-family: tenez, sans-serif;
    line-height: 1.0;
    font-weight: 900;
    font-style: italic;
}